    <div class="container">
        <%- messages('message', locals) %>



<div class="row">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

			<div class="row" style="text-align:center;">
				<div class="col-xs-3" style="background-color:#44ffff;"><br><a href="/profile" style="color:black;">Profile<br><i class="fas fa-user-circle"></i></a><br><br></div>
				<div class="col-xs-3" style="background-color:white;"><br><a href="/search" style="color:black;">Add Quirks<br><i class="fas fa-plus-circle"></i></a><br><br></div>
				<div class="col-xs-3" style="background-color:#ff44ff;"><br><a href="/friendstobe" style="color:black;">Friends & Matching<br><i class="fas fa-capsules"></i></a><br><br></div>
				<div class="col-xs-3" style="background-color:gray;"><br><a href="/logout" style="color:black;">Sign Out<br><i class="fas fa-sign-out-alt"></i></a><br><br></div>
			</div>

			<br>