    <div class="container">
        <%- messages('message', locals) %>


<br>
<br>


<div class="row">


	<div class="row" style="text-align:center;">
		<div class="col-xs-4"></div>
		<div class="col-xs-1" style="background-color:#44ffff;"><br><a href="/profile" style="color:black;">profile<br><i class="fas fa-user-check"></i></a><br><br></div>
		<div class="col-xs-1" style="background-color:white;"><br><a href="/search" style="color:black;">search<br><i class="fas fa-search"></i></a><br><br></div>
		<div class="col-xs-1" style="background-color:#ff44ff;"><br><a href="/match" style="color:black;">match<br><i class="fas fa-capsules"></i></a><br><br></div>
		<div class="col-xs-1" style="background-color:gray;"><br><a href="/logout" style="color:black;">logout<br><i class="fas fa-sign-out-alt"></i></a><br><br></div>
	</div>


	<br>
	<br>


	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
