<% include ../views/partials/header %>

<style>

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text */
.puzzle-container {
  position: relative;
  text-align: center;
  color: white;
}

.puzzle-centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 58.35%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* https://codepen.io/nohoid/pen/kIfto */
.wrapper { 
  height: 100%;
  max-width:500px;
  width: 100%;
background: linear-gradient(45deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
background-size: 200% 200%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

</style>

    </head>
    <body>      

<div class="container">

<div style="text-align:center;">

<br>


<img width="100%" style="max-width:400px;" src="https://media.giphy.com/media/PZrjGkr334fXa/giphy.gif" alt="serial experiments lain alone in room looking at computer">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://media.giphy.com/media/3o752d9lMAWZm0YRr2/giphy.gif" alt="lil peep concert">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://media.giphy.com/media/gHoXmAhGUB4daUUFd7/giphy.gif" alt="gary vee what to do after college">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/0gWKYoM.gif" alt="serial experiments lain eyes computer reflection">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/Vz76fT3.png" alt="google define alienated">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://media.giphy.com/media/20EeBZwRVTVCM/giphy.gif" alt="harry potter dementor">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/9xwbwKb.gif" alt="harry potter dementor">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>
<br>

<img width="100%" style="max-width:350px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>
<br>

<img width="100%" style="max-width:300px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>
<br>

<img width="100%" style="max-width:250px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>
<br>

<img width="100%" style="max-width:200px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>
<br>

<img width="100%" style="max-width:350px;" src="https://i.gifer.com/1GJ1.gif" alt="aladdin genie">

<br>
<br>

<!-- https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ -->
<div style="text-align:center;">
	<div class="wrapper" style="display:inline-block;">
		<div class="row">
			<div class="col-xs-6">
				<div class="iframe-container">
					<iframe style="border: 5px solid red;" src="https://www.youtube.com/embed/Wo5UY7vjs4c?start=174&end=182" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<span style="font-size:14px;"><b>click the video <i class="fas fa-level-up-alt"></i> to watch</b></span><br>
			</div>
			<div class="col-xs-6">
				<img width="100%" style="width:100%;border: 5px solid #268ada;" src="https://images.idgesg.net/images/article/2018/08/9_systems-theory_global-crash_outage-100769200-large.jpg" alt="global online">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
				<div class="puzzle-container">
				<img width="100%" style="max-width:310px;" src="https://i.imgur.com/DALKjBw.gif" alt="pieces of the puzzle coming together">
				<div class="puzzle-centered-text">

<div style="background-color: rgba(23,23,23,0.88);font-size:10px;">
<span style="
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;">




&nbsp;
i wish for...
&nbsp;

<br>

&nbsp;
a <span style="color:#268ada;font-weight:bold;">global game</span>
&nbsp;

<br>

&nbsp;
of <span style="color:#EEEE0E;font-weight:bold;">That's Me</span>
<!-- https://stackoverflow.com/questions/4919076/outline-effect-to-text -->
&nbsp;

<br>

&nbsp;
so <span style="color:red;font-weight:bold;">peeps</span> can find
&nbsp;

<br>

&nbsp;
their <span style="color:#2ad42d;font-weight:bold;">&ldquo;kindred spirit&rdquo;</span>
&nbsp;

</span>
</div>
				</div>

				</div>
			</div>
			<div class="col-xs-2">
			</div>
		</div>
		<div class="row" style="position:relative;">
			<div class="col-xs-6">
				<span style="font-size:14px;"><b>click the video <i class="fas fa-level-down-alt"></i> to watch</b></span><br>
				<div class="iframe-container">
					<iframe style="border: 5px solid yellow;" src="https://www.youtube.com/embed/7ZLdG82wYc4?start=29&end=49" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-xs-6" style="position:absolute;bottom:0;right:0;">
				<div style="text-align:left;background-color:black;border: 5px solid #2ad42d;padding:5px;">
					<span style="background-color:black;font-size:1.5em;"><span style="color:#ff0000;">k</span><span style="color:#ff4000;">i</span><span style="color:#ff7f00;">n</span><span style="color:#ffbf00;">d</span><span style="color:#ffff00;">r</span><span style="color:#aaff00;">e</span><span style="color:#55ff00;">d</span><span style="color:#00ff00;"> </span><span style="color:#00ff80;">s</span><span style="color:#00ffff;">p</span><span style="color:#0080ff;">i</span><span style="color:#0000ff;">r</span><span style="color:#4600ff;">i</span><span style="color:#8b00ff;">t</span></span><br>
					<span style="font-size:12px;color:white;">someone you really relate to</span>
				</div>
			</div>
		</div>
	</div>
</div>


<br>
<br>

<img width="100%" style="max-width:200px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:250px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:300px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:350px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/Vz76fT3.png" alt="google define alienated">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/Vz76fT3.png" alt="google define alienated">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/Vz76fT3.png" alt="google define alienated">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://media1.tenor.com/images/7af8ecbe4a5269fe9ecab1baf92eb8e5/tenor.gif?itemid=11317756" alt="harry potter protect">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://imagesvc.meredithcorp.io/v3/mm/gif?url=https%3A%2F%2Fimages.hellogiggles.com%2Fuploads%2F2016%2F10%2F18051756%2Fgiphy148.gif" alt="dementor push">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.gifer.com/7RED.gif" alt="internet traffic">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/UYw5Ue1.jpg" alt="wreck it ralph">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://images.idgesg.net/images/article/2018/08/9_systems-theory_global-crash_outage-100769200-large.jpg" alt="globe">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.ytimg.com/vi/qJJog4BJrUw/maxresdefault.jpg" alt="aladdin a whole new world">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://am21.mediaite.com/tms/cnt/uploads/2015/10/Life_Is_Strange_Featured.jpg" alt="life is strange max and chloe train">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<% include ../views/partials/footer %>