<% include ../views/partials/header %>

<form method="POST" action="/backuptag" id="backuptag">
            <input type="submit" value="Submit" class="btn btn-default btn-sm">
</form>
<br>

<textarea rows="10" cols="40" name="email" form="backuptag">email</textarea>
<textarea rows="10" cols="70" name="tag" form="backuptag">tag</textarea>

<% include ../views/partials/footer %>
