<% include ../views/partials/header %>

    </head>
    <body>      


<div style="text-align:center;">
<iframe max src="https://www.youtube.com/embed/5bJi7k-y1Lo?start=57&end=75" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


	<br><br>
	<h2><b><u>Guest List</u></b></h2>
	<br>


	<% emailDomains.forEach(function(domain){ %>
<!--                you<a target="_blank" href="http://<%= domain.substring(1) %>"><%= domain %></a> -->

		<% if (domain == "@harvard.edu") { %>
	                lil_pump<a href="email">@harvard.edu</a>
		<% } else { %>
	                people<a href="email"><%= domain %></a>
		<% } %>

		<br>
	<% }) %>


<br><br><br><br><br>
</div>
</body>
</html>
