<% include ../views/partials/header %>

    </head>
    <body>      


<div style="text-align:center;">

	<br>
	<br>

<h2>
	<b>E-mail not found</b><br>
</h2>

<h6>
	Give me a couple hours, please.<br>
	I have to manually insert your school into the database.<br>
	I just sent myself a notification.<br>
	I'll email you when it's ready.<br>
	P.S. you are the 1st person<br>
	to sign up from your school.<br>
</h6>


	_________________________________________
	<br>

<h3>
students from <%= emailDomains.length %> schools<br>are currently registered
</h3>

	<% emailDomains.forEach(function(domain){ %>
<!--                you<a target="_blank" href="http://<%= domain.substring(1) %>"><%= domain %></a> -->

	                students<a href="email"><%= domain %></a>

		<br>
	<% }) %>


<br><br><br><br><br>
</div>
</body>
</html>
