<% include ../views/partials/header %>


<style>
/* https://codepen.io/aaroniker/pen/XxPNqY */
.bottom_left {
  position: fixed;
  display: block;
  left: 10px;
  bottom: 0px;
}

</style>



    </head>
    <body style="background-color:black;">      
    
    <div class="container">
        



	<br>
	<br>

	<div style="text-align:center;">
	<div style="display:inline-block;">



		<div style="text-align:center;">
			<div style="text-align:left;">
				<span style="color:white;">
					<h3><span style="color:#ff0000;">k</span><span style="color:#ff4000;">i</span><span style="color:#ff7f00;">n</span><span style="color:#ffbf00;">d</span><span style="color:#ffff00;">r</span><span style="color:#aaff00;">e</span><span style="color:#55ff00;">d</span><span style="color:#00ff00;"> </span><span style="color:#00ff80;">s</span><span style="color:#00ffff;">p</span><span style="color:#0080ff;">i</span><span style="color:#0000ff;">r</span><span style="color:#4600ff;">i</span><span style="color:#8b00ff;">t</span> <span style="font-size:10px;">(noun)</span></h3>
					a person whose interests, attitudes, or experiences<br>
					are similar to one's own
				</span>
			</div>
			<br>
			<iframe style="border: 5px solid #ff44ff;" src="https://www.youtube.com/embed/4uMY3xmJCm4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<br>

		<form id="yes" style="text-align:right;">
			<button type="submit" id="redirect" name="redirect" class="btn btn-default btn-lg" value="login">
			<span style="color:blue;font-weight:bold;">
				continue
			</span>		
			</button>
		</form>

	</div>
	</div>

	<br>
	<br>
	<br>





	<a class="bottom_left" href="https://github.com/geofree-tze/findmykindredspirit.com" target="_blank">
		<span style="font-size:42px;"><i class="fab fa-github"></i></span>
		<span style="font-size:14px;"><b>free_code</b></span>
	</a>


<script>

// there was a bug in the code. the 1st time a user tried to either sign up or login, it did not work.
// my guess is that the web browser had to cache a cookie the 1st time.
// my workaround was to cache a cookie on the home page when they click the sign up or login button

    document.getElementById('yes').addEventListener('submit', submitForm);
    function submitForm(e){
        e.preventDefault();

        const redirect = document.querySelector('#redirect').value;
      
        fetch('/', {
            method:'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-type':'application/json'
            },
            body:JSON.stringify({redirect: redirect})
        })
        .then((res) => res.json())
        .then((data) => {
                document.location.replace('https://<%= domainName %>/email');
        });
    }
</script>


</div>
<script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
