<% include ../views/partials/header %>


<style>
/* https://codepen.io/aaroniker/pen/XxPNqY */
.github {
  position: fixed;
  display: block;
  left: 20px;
  bottom: 10px;
}

.github2 {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

.quotes {display: none;}
.quotes2 {display: none;}
.quotes3 {display: none;}
.quotes4 {display: none;}
</style>



    </head>
    <body style="background-color:black;">      
    
    <div class="container">
        






<!-- https://stackoverflow.com/questions/1622027/percentage-height-html-5-css -->
<div style="height:8vh;"></div>


	<div style="text-align:center;">


	<div style="display:inline-block;">

	<h1 style="text-align:left;color:white;font-weight:bold;line-height:0.5;font-family:Roboto;">
		<u>Matchmaking 101</u>
	</h1>
		<div style="text-align:left;">

		<h4 style="font-weight:bold;line-height:1.3;font-family:Roboto;">
			<br>

			&nbsp;&nbsp;&nbsp;&nbsp;
			<span style="color:#666666;">if </span>
			<span class="quotes" style="color:#ff4444;">you're into</span>
			<span class="quotes" style="color:#000000;">you're into</span>
			<span class="quotes" style="color:#000000;">you're into</span>

			<br>

			&nbsp;&nbsp;&nbsp;&nbsp;
			<span style="color:#666666;">what </span>
			<span class="quotes2" style="color:#000000;">i'm into</span>
			<span class="quotes2" style="color:#4488ff;">i'm into</span>
			<span class="quotes2" style="color:#000000;">i'm into</span>

			<br>

			&nbsp;&nbsp;&nbsp;&nbsp;
			<span style="font-size:0.5px;">&nbsp;</span>
			<span style="color:#666666;">then </span>
			<span class="quotes3" style="color:#000000;">let's talk!</span>
			<span class="quotes3" style="color:#000000;">let's talk!</span>
			<span class="quotes3" style="color:#ff44ff;">let's talk!</span>
			
		</h4>
		</div>


	</div>
	</div>

	<br>

	<div style="text-align:center;">
		<iframe src="https://www.youtube.com/embed/99ZThTlf0II" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>




	<form id="yes" class="github2">
		<button type="submit" id="redirect" name="redirect" class="btn btn-default btn-lg" value="login">
		<span style="color:blue;font-weight:bold;">
			continue...
		</span>		
		</button>
	</form>

	<a class="github" href="https://github.com/geofree-tze/foothillicebreaker.com" target="_blank" style="font-size:42px;">
		<i class="fab fa-github"></i>
	</a>

<script>

// there was a bug in the code. the 1st time a user tried to either sign up or login, it did not work.
// my guess is that the web browser had to cache a cookie the 1st time.
// my workaround was to cache a cookie on the home page when they click the sign up or login button

    document.getElementById('yes').addEventListener('submit', submitForm);
    function submitForm(e){
        e.preventDefault();

        const redirect = document.querySelector('#redirect').value;
      
        fetch('/', {
            method:'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-type':'application/json'
            },
            body:JSON.stringify({redirect: redirect})
        })
        .then((res) => res.json())
        .then((data) => {
                document.location.replace('https://<%= domainName %>/email');
        });
    }
</script>


</div>
<script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- https://stackoverflow.com/questions/15997581/fade-in-fade-out-with-css-and-jquery -->
<script>
(function() {

    var quotes = $(".quotes");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(300)
            .delay(300)
            .fadeOut(300, showNextQuote);
    }
    
    showNextQuote();
})();
(function() {

    var quotes = $(".quotes2");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(300)
            .delay(300)
            .fadeOut(300, showNextQuote);
    }
    
    showNextQuote();
})();

(function() {

    var quotes = $(".quotes3");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(300)
            .delay(300)
            .fadeOut(300, showNextQuote);
    }
    
    showNextQuote();
})();

(function() {

    var quotes = $(".quotes4");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(300)
            .delay(300)
            .fadeOut(300, showNextQuote);
    }
    
    showNextQuote();
})();
</script>

</body>
</html>