<% include ../views/partials/header %>


<style>

		img.bg {
			/* Set rules to fill background */
			min-height: 100%;
			min-width: 1024px;
			
			/* Set up proportionate scaling */
			width: 100%;
			height: auto;
			
			/* Set up positioning */
			position: fixed;
			top: 0;
			left: 0;
		}
		
		@media screen and (max-width: 1024px){
			img.bg {
				left: 50%;
				margin-left: -512px; }
		}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 58.35%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* https://codepen.io/nohoid/pen/kIfto */
.wrapper { 
  height: 75px;
  width: 250px;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
</style>

<script>
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_toggle_hide_show
function myFunction() {
    document.getElementById('start2').style.display = 'none';
    document.getElementById('myDIV').style.display = 'block';

    // https://stackoverflow.com/questions/49475935/on-button-click-focus-input-in-javascript/49475954
    document.getElementById('email').focus();
}
</script>



    </head>
    <body>
    


    <div class="container">
        <%- messages('message', locals) %>
        

	<br>
	<br>

	<div style="text-align:center;">
	<div style="display:inline-block;">



		<div style="text-align:center;">

			<br>
			<br>
			<br>
			<br>

	<div style="max-width:400px;margin:auto;min-width:350px;">
	<div class="iframe-container" style="display:inline-block;">
		<iframe style="border: 5px solid #ff44ff;" src="https://www.youtube.com/embed/OoOjMUwtnjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	</div>

			<br>
			<br>
			<br>

			<div id="start2" style="display:block;">
			<div class="wrapper" style="display:inline-block;">
			<br>
			<div id="start" style="text-align:center;">
				<button onclick="myFunction()" class="btn btn-default btn-md">
				<span style="color:blue;font-weight:bold;">
					<i class="fas fa-play-circle"></i> Click here to get started.
				</span>		
				</button>
			</div>
			</div>
			</div>

		</div>

	</div>
	</div>

	<br>


	<div id="myDIV" style="display: none;">
	<form id="login" style="text-align:center;background-color:black;">



<table style="text-align:right;display:inline-block;">
<tr>
<td>
		<span style="color:white;">Step 1.&nbsp;&nbsp;</span>

		<br>
		<br>

</td>
<td>
		<span style="color:white;">enter your&nbsp;&nbsp;</span>
		<input type="email" name="email" id="email" placeholder="college email" maxlength="100" required="required" autofocus>

		<span id="not_a_college_email_message" style="display: none;color:red;font-weight:bold;">
			Sorry, your email didn't end in .edu<br><span style="font-size:10px;">or .edu.XX or .ac.XX</span>
		</span>

		<span id="not_a_college_email_message2" style="display:block;">
			<br>
		</span>
</td>
</tr>

<tr>
<td>
		<span style="color:white;">Step 2.&nbsp;&nbsp;</span>
</td>
<td>
		<div class="g-recaptcha" data-sitekey="6LdN2IMUAAAAANfZxaaec6_Lx_JOCD1mGhvHD1FF"></div>
		<div id="captcha_not_checked_message" style="display: none;color:red;font-weight:bold;">
			Bee-boo-boo-bop.<br><span style="font-size:10px;">(please confirm you're not a robot)</span>
		</div>
</td>
</tr>

<tr>
<td>
		<br>

		<span style="color:white;">Step 3.&nbsp;&nbsp;</span>
</td>
<td>
		<br>

		<span style="color:white;">click --&gt;</span>
		<input type="submit" value="Send Email">

</td>
</tr>
</table>
	</form>
	</div>





<script>
    document.getElementById('login').addEventListener('submit', submitForm);
    function submitForm(e){
        e.preventDefault();

        const email = document.querySelector('#email').value;
        const captcha = document.querySelector('#g-recaptcha-response').value;



    // https://stackoverflow.com/questions/8885052/regular-expression-to-validate-email-ending-in-edu
    // https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_regexp_test2
    // .edu
    var patt = new RegExp("^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.edu$");
    // .edu.XX
    var patt2 = new RegExp("^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.edu\.[a-zA-Z0-9.+-]+$");
    // .ac.XX
    var patt3 = new RegExp("^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.ac\.[a-zA-Z0-9.+-]+$");


    if (!(patt.test(email) || (patt2.test(email) || patt3.test(email)))) {
	document.getElementById('not_a_college_email_message').style.display = 'block';
	document.getElementById('not_a_college_email_message2').style.display = 'block';
	document.getElementById('email').value = '';
	document.getElementById('email').placeholder= 'email@college.edu';
	document.getElementById('captcha_not_checked_message').style.display = 'none';
    }

    else if (!(grecaptcha && grecaptcha.getResponse().length !== 0)) {
	document.getElementById('not_a_college_email_message').style.display = 'none';
	document.getElementById('not_a_college_email_message2').style.display = 'block';
	document.getElementById('captcha_not_checked_message').style.display = 'block';
    }

    else {
      
        fetch('/', {
            method:'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-type':'application/json'
            },
//            body:JSON.stringify({email: email})
            body:JSON.stringify({email: email, captcha: captcha})
        })
        .then((res) => res.json())
        .then((data) => {
            if (data.success == true) {
		document.location.replace('https://<%= domainName %>/invite_sent');
	    } else {
		document.location.replace('https://<%= domainName %>/');
	    }
        });
    }
    }
</script>



</div>
<script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
