<% include ../views/partials/header %>

<style>
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 58.35%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* https://codepen.io/nohoid/pen/kIfto */
.wrapper { 
  height: 100%;
  max-width:500px;
  width: 100%;
background: linear-gradient(45deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
background-size: 200% 200%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

</style>

    </head>
    <body>      

<div class="container">

<div style="text-align:center;">

<br>

<img width="100%" style="max-width:290px;" src="https://i.imgur.com/L0fen6q.gif" alt="life is strange max">

<br>
Are you <i>sure</i> you wanna hear my story?

<br>
<br>
<br>

<img width="100%" style="max-width:290px;" src="https://i.imgur.com/Q2kZpjl.gif" alt="life is strange chloe">

<br>

<span style="font-size:10px;color:white;"><i>click?</i>  --&gt;</span>
<button onClick="playPeep()" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#stop_teasin_start_pleasin">Preach it, Caulfield.</button>
<span style="font-size:10px;">&lt;-- <i>click?</i></span>

<br>
<br>
<br>

<iframe id="juice_wrld_breakfast_club" style="display:none;" width="333" height="187" src="https://www.youtube.com/embed/UOoJe35T2GY?start=195&end=219" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<audio id="chvrches_leave_a_trace1" style="display:none;" controls>
  <source src="https://media.vocaroo.com/mp3/l1Z7EGDZRow" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<br>
<audio id="chvrches_leave_a_trace3" style="display:none;" controls>
<!--  <source src="https://www.mboxdrive.com/porter-robinson-get-your-wish.mp3" type="audio/mpeg"> -->
<!--  <source src="https://media.vocaroo.com/mp3/gPClDJ9K4EN" type="audio/mpeg"> -->
  <source src="https://media.vocaroo.com/mp3/olShxjEO0BV" type="audio/mpeg">
<!--  <source src="https://www.mboxdrive.com/CHVRCHES%20-%20Leave%20A%20Trace%20(mp3cut.net).mp3" type="audio/mpeg"> -->
Your browser does not support the audio element.
</audio>
<br>
<audio id="chvrches_leave_a_trace4" style="display:none;" controls onended="poopity()">
<!--   <source src="https://www.mboxdrive.com/CHVRCHES%20-%20Leave%20A%20Trace%20(mp3cut.net).mp3" type="audio/mpeg"> -->
  <source src="https://www.mboxdrive.com/Normandie%20-%20Keep%20Fucking%20It%20Up%20(Official%20Audio%20Stream).mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<br>
<div id="chvrches_leave_a_trace5" style="display:none;">
<img style="width:100%;max-width:230px;" src="https://images3.alphacoders.com/947/947458.png" alt="life is strange rachel and max fanart">
<br>
<span style="font-size:10px;">
&ldquo;Dude, you fuck shit up, you rewind, you fix it. Drop the mic. Boom.&rdquo;
</span>
</div>

<div id="stop_teasin_start_pleasin" class="collapse">

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/3bepnx8.gif" alt="squidward alone">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://media.giphy.com/media/PZrjGkr334fXa/giphy.gif" alt="serial experiments lain alone in room looking at computer">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://media.giphy.com/media/3o752d9lMAWZm0YRr2/giphy.gif" alt="lil peep concert">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://media.giphy.com/media/gHoXmAhGUB4daUUFd7/giphy.gif" alt="gary vee what to do after college">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/0gWKYoM.gif" alt="serial experiments lain eyes computer reflection">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/Vz76fT3.png" alt="google define alienated">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://media.giphy.com/media/20EeBZwRVTVCM/giphy.gif" alt="harry potter dementor">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/9xwbwKb.gif" alt="harry potter dementor">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>
<br>

<img width="100%" style="max-width:350px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>
<br>

<img width="100%" style="max-width:300px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>
<br>

<img width="100%" style="max-width:250px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>
<br>

<img width="100%" style="max-width:200px;" src="https://i.imgur.com/gt4xno8.gif" alt="wreck it ralph penelope help!">

<br>

<audio id="lil_peep_right_here">
  <source src="https://www.mboxdrive.com/Right%20here%20-%20lil%20peep%20(without%20horsehead).mp3" type="audio/mpeg"> 
<!--  <source src="https://www.mboxdrive.com/Right%20here%20-%20lil%20peep%20(without%20horsehead)%20(mp3cut.net).mp3" type="audio/mpeg"> -->
<!--  <source src="https://www.mboxdrive.com/Right%20here%20-%20lil%20peep%20(without%20horsehead)%20(mp3cut%20(mp3cut.net).mp3" type="audio/mpeg"> -->
Your browser does not support the audio element.
</audio>

<br>

	
<span style="font-size:10px;color:white;"><i>click?</i>  --&gt;</span>
<button style="background-color:black;color:white;" onClick="pausePeepPlayDip()" type="button" class="btn btn-primary btn-md" data-toggle="collapse" data-target="#what_did_you_wish">
<span style="color:#ff0000;">a</span><span style="color:#ff4000;"> </span><span style="color:#ff7f00;">c</span><span style="color:#ffbf00;">r</span><span style="color:#ffff00;">a</span><span style="color:#00ff00;">z</span><span style="color:#00ff80;">y</span><span style="color:#00ffff;"> </span><span style="color:#0080ff;">i</span><span style="color:#0000ff;">d</span><span style="color:#4600ff;">e</span><span style="color:#8b00ff;">a</span>
</button>
<span style="font-size:10px;">&lt;-- <i>click?</i></span>


<div id="what_did_you_wish" class="collapse">

<audio id="diplo_trippie_wish">
<!--  <source src="https://www.mboxdrive.com/Diplo%20-%20Wish%20(feat%20(mp3cut.net).mp3" type="audio/mpeg"> -->
  <source src="https://media.vocaroo.com/mp3/7uS2BJIfJHj" type="audio/mpeg"> 
Your browser does not support the audio element.
</audio>


<br>


<!-- https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ -->
<div style="text-align:center;">
	<div class="wrapper" style="display:inline-block;">
		<div class="row">
			<div class="col-xs-6">
				<div class="iframe-container">
					<iframe style="border: 5px solid red;" src="https://www.youtube.com/embed/Wo5UY7vjs4c?start=174&end=182" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-xs-6">
				<img width="100%" style="width:100%;border: 5px solid #268ada;" src="https://media0.giphy.com/media/J2ONEJRttRQbSTxKnL/giphy.gif" alt="The Vision of Escaflowne">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
				<img width="100%" style="max-width:310px;" src="https://i.imgur.com/DALKjBw.gif" alt="pieces of the puzzle coming together">
			</div>
			<div class="col-xs-2">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<span style="font-size:14px;">You could say <b>ANYTHING.</b></span><br>
				<div class="iframe-container">
					<iframe style="border: 5px solid yellow;" src="https://www.youtube.com/embed/7ZLdG82wYc4?start=26&end=67" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-xs-6" style="padding-top:7px;">
				<img width="100%" style="width:100%;border: 5px solid #2ad42d;" src="https://i.imgur.com/tdiYgbC.png" alt="urban dictionary abrdiged define kindred spirit">
				<br>
				<img width="100%" style="width:100%;border: 5px solid #2ad42d;" src="https://i.imgur.com/Gdjc1rt.png" alt="google define kindred spirit">
			</div>
		</div>
	</div>
</div>



<br>

<img width="100%" style="max-width:200px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:250px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:300px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:350px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://i.imgur.com/uf2KaNx.gif" alt="wreck it ralph penelope help! reverse">

<br>
<br>

<img width="100%" style="max-width:400px;" src="https://imgur.com/mZ1kFQV.gif" alt="life is strange chloe">

<br>

you dreamed...?
<br>

	<img width="100%" style="max-width:350px;" src="https://i.imgur.com/56PMBF8.gif" alt="life is strange max 2">

<br>

a <span style="color:#268ada;font-weight:bold;">global game</span> of <span style="color:#EEEE0E;font-weight:bold;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;">That's Me</span>
<!-- https://stackoverflow.com/questions/4919076/outline-effect-to-text -->

<br>
so <span style="color:red;font-weight:bold;">peeps</span> can find their <span style="color:#2ad42d;font-weight:bold;">kindred spirit</span>

	<br>

	<img width="100%" style="max-width:300px;" src="https://i.imgur.com/iQj358f.gif" alt="life is strange chloe 2">

	<br>

	<span style="font-size:10px;color:white;"><i>click?</i>  --&gt;</span>
	<button onClick="playSunshine()" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#grant_my_wish">
		No way<i>!</i>
	</button>
	<span style="font-size:10px;">&lt;-- <i>click?</i></span>

<br>
<br>


<div id="grant_my_wish" class="collapse">

<br>

<audio id="matisyahu_sunshine">
<!--  <source src="https://www.mboxdrive.com/09%20-%20Where%20The%20Lines%20Overlap.mp3" type="audio/mpeg"> -->
<!--  <source src="https://www.mboxdrive.com/Normandie%20-%20Keep%20Fucking%20It%20Up%20(Official%20Audio%20Stream).mp3" type="audio/mpeg"> -->
<!--  <source src="https://www.mboxdrive.com/Lil%20Peep%20Star%20Shopping.mp3" type="audio/mpeg"> -->
<!--  <source src="https://www.mboxdrive.com/Matisyahu%20-%20Sunshine%20(mp3cut.net).mp3" type="audio/mpeg"> -->
<!--  <source src="https://www.mboxdrive.com/Jaden%20-%20Mission%20ft%20(mp3cut.net).mp3" type="audio/mpeg"> -->
  <source src="https://www.mboxdrive.com/When%20I%20Grow%20Up-Pussycat%20Dolls%20(Lyrics)%20(mp3cut.net).mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<div style="text-align:center;">
<div class="wrapper" style="display:inline-block;">
<br>
<iframe width="300" height="169" src="https://www.youtube.com/embed/ABfia6hOnT4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
</div>
</div>

<br>

<img width="100%" style="max-width:350px;" src="https://www.gamerevolution.com/assets/uploads/2017/06/LifeisStrange-1280x720.jpg" alt="life is strange max and chloe train tracks">

<br>


<br>
<br>
<br>
<br>

<span style="font-size:10px;color:white;"><i>click?</i>  --&gt;</span>
<button style="border: 5px solid gray;" onClick="pauseSunshinePlayPorter()" type="button" class="btn btn-secondary btn-lg" data-toggle="collapse" data-target="#visit_grave">Bury <b>the O.G.</b></button>
<span style="font-size:10px;">&lt;-- <i>click?</i></span>

<div id="visit_grave" class="collapse">

<br>
<br>
<br>

<img width="100%" style="max-width:300px;" src="https://vignette.wikia.nocookie.net/spongebob/images/c/c4/Tumblr_o6vcgfApJC1stpv7uo2_250.jpg/revision/latest/scale-to-width-down/340?cb=20191225184201" alt="smitty werbenjagermanjensen grave">

<br>

<blockquote style="font-size:12px;" cite="https://en.wikiquote.org/wiki/The_Catcher_in_the_Rye">
&ldquo;The whole arrangement's designed for people who, <br>
at some time or other in their lives, <br>
were looking for something that<br>
their own environment couldn't supply them with.&rdquo;<br>
- <u>Catcher in the Rye</u>
<span style="color:white;">-</span>
</blockquote>


<img width="100%" style="max-width:300px;" src="https://i.imgur.com/X5oHFeq.gif" alt="catcher in the rye holden caulfield was number one">
<br>

<audio id="porter_robinson_get_your_wish">
<!--  <source src="https://www.mboxdrive.com/porter-robinson-get-your-wish.mp3" type="audio/mpeg"> -->
<!--  <source src="https://www.mboxdrive.com/CHVRCHES%20-%20Leave%20A%20Trace%20(mp3cut.net).mp3" type="audio/mpeg"> -->
<!--  <source src="https://www.mboxdrive.com/Yung%20Garzi%20-%20wakeup!weredead!.mp3" type="audio/mpeg"> -->
  <source src="https://www.mboxdrive.com/Paramore%20-%20Brick%20By%20Boring%20Brick.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<br>
<br>



<span style="font-size:10px;color:white;"><i>do it!!</i>  --&gt;</span>
<button onClick="pausePorterPlayBilly()" type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#cant_relate">
<b>
<span style="
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;">

<span style="color:#999;">Rip</span>
his wings 
<span style="color:#999;"><i>off</i></span>?

</span>

</b>
</button>
<span style="font-size:10px;">&lt;-- <i>do it!!</i></span>

<div id="cant_relate" class="collapse">

<br>
<br>
<br>

<audio id="death_note_ending_2">
<!--  <source src="https://lost-contact.mit.edu/afs/adrake.org/usr/ntan1/osu/Songs/11945%20Asian%20Kung-Fu%20Generation%20-%20Rewrite/Rewrite.mp3" type="audio/mpeg"> -->
<!--  <source src="https://www.mboxdrive.com/XXXTENTACION%20-%20Look%20At%20Me!%20(Audio).mp3" type="audio/mpeg"> -->
  <source src="https://www.mboxdrive.com/Death%20Note%20Ending%202%20(mp3cut.net).mp3" type="audio/mpeg">

Your browser does not support the audio element.
</audio>

<br>
<span style="font-size:10px;"><i>Damn...</i></span>
<br>
<img width="100%" style="max-width:200px;" src="https://media.giphy.com/media/St8Q1PmV49dp2KJ11g/giphy.gif" alt="inuyashiki kick doll">

<br>
<br>

<img width="100%" id="elliot_rodger" style="max-width:250px;" src="https://media.giphy.com/media/RizQKNp8CRH2fvk8cI/giphy.gif" alt="elliot rodger rumble">

<br>
<br>

<img width="100%" style="max-width:300px;" src="https://media0.giphy.com/media/kHsBiyF6euAl2Tyt7L/giphy.gif" alt="rick and morty roy you went back to the carpet store!? boo">

<br>
<br>

<img width="100%" style="max-width:350px;" src="https://giffiles.alphacoders.com/171/171488.gif" alt="lain">

<br>
<br>


<span style="font-size:10px;color:white;"><i>rewind?</i>  --&gt;</span>
<button onClick="pauseBillyplayChvurches()" type="button" class="btn btn-danger btn-lg" data-toggle="collapse" data-target="#stop_teasin_start_pleasin">
	<i class="fas fa-backward"></i>
</button>
<span style="font-size:10px;">&lt;-- <i>rewind?</i></span>

</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<script>
  document.getElementById("lil_peep_right_here").volume = 0.15;
  document.getElementById("diplo_trippie_wish").volume = 0.5;
  document.getElementById("matisyahu_sunshine").volume = 0.67;
  document.getElementById("porter_robinson_get_your_wish").volume = 0.35;
  document.getElementById("death_note_ending_2").volume = 0.5;
  document.getElementById("chvrches_leave_a_trace1").volume = 0.5;
  document.getElementById("chvrches_leave_a_trace3").volume = 1;
  document.getElementById("chvrches_leave_a_trace4").volume = 0.75;



function playPeep() {
  document.getElementById("lil_peep_right_here").play();
}

function pausePeepPlayDip() {
  document.getElementById("lil_peep_right_here").pause();
  document.getElementById("diplo_trippie_wish").play();
}

function playSunshine() {
  document.getElementById("diplo_trippie_wish").pause();
  document.getElementById("matisyahu_sunshine").play();
}

function pauseSunshinePlayPorter() {
  document.getElementById("matisyahu_sunshine").pause();
  document.getElementById("porter_robinson_get_your_wish").play();
}
function pausePorterPlayBilly() {
  document.getElementById("porter_robinson_get_your_wish").pause();
  document.getElementById("death_note_ending_2").play();
}
function pauseBillyplayChvurches() {
  document.getElementById("death_note_ending_2").pause();
//  document.getElementById("chvrches_leave_a_trace").play();
  document.getElementById("juice_wrld_breakfast_club").style.display = "inline";
  document.getElementById("chvrches_leave_a_trace1").style.display = "inline";
  document.getElementById("chvrches_leave_a_trace3").style.display = "inline";
  document.getElementById("chvrches_leave_a_trace4").style.display = "inline";
//  document.getElementById("chvrches_leave_a_trace5").style.display = "inline";
}

function poopity() {
$('#chvrches_leave_a_trace5').fadeIn('slow');
//  document.getElementById("chvrches_leave_a_trace5").style.display = "inline";
}

</script>

<% include ../views/partials/footer %>